<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<form method="post">
    <div><label>EMAIL : <input type="text" required name="email" placeholder="Enter your email" /></label></div>
    <div><label>PASSWORD : <input type="text" required name="password" placeholder="Enter your password" /></label></div>
    <div><label>FIRST NAME : <input type="text" required name="firstName" placeholder="Enter your firs name" /></label></div>
    <div><label>LAST NAME : <input type="text" required name="lastName" placeholder="Enter your last name" /></label></div>
    <div><label>AGE : <input type="text" required name="age" placeholder="Enter your age" /></label></div>
    <div><label>CITY : <input type="text" required name="city" placeholder="Enter your city" /></label></div>
    <div><label><input type="submit" name="submit" value="OK"/></label></div>
</form>
</body>
</html>